#nav_menu ul { 
    list-style-type: none; 
}

#nav_menu ul li { 
    float: left; 
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; /* padding above and below a elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}

#nav_menu ul li a.lastitem { 
    border-right: none; 
}

#nav_menu ul li a.current { 
    color: yellow; 
}

article{
    clear:both;
}

aside ol {
    list-style-type:upper-roman;
}

aside ul {
    list-style-type:square;
}

aside{
    width:auto;
    text-align: right;
    float:right;
    top: 20%; 
    padding: 1em 1em;
    border: 3px darkblue;
    border-style: solid;
    background-color: lightblue;

    position: fixed;
    right: 2em;
    top: 24em;

}
