html{
    background-image: linear-gradient(to left, white 0%, #facd8a 100%);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; 
    width: 90%;
    background-color: whitesmoke;
    margin:15px auto;
    padding:15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/sam_houston_state_bearkats_2020-pres.webp");
    background-position: right;
    background-repeat: repeat-y; /*default x and y until page is filled*/
    background-attachment: fixed; /*default is scroll */
}

a:focus,a:hover{
    font-style: italic;
    color: orange;
    border: 3px blue;
    border-style: dotted solid;
}

h1{
    font-size:175%;
    color:aqua;
    text-indent: 30px;
}

h2{
    font-size:175%;
    color: #600000;
    text-indent: 30px;
}

img{ 
    float:left;
    margin-left: 2em;
}

.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0);
}
article{
    
    border-top:2px solid maroon;


    clear:left;
    width:70%;
    float:left;
    column-count:2;
    column-rule:2px dotted maroon;
    column-gap:2em;
    margin-left:2em;

}
article h3{
    column-span: all;

}
article img{
    float:left;
    margin-right:1em;
    margin-bottom:1em;

}
article p::first-letter{
    font-size:3em;
    font-weight:bold;
    font-style:italic;
    color:lime;
}
aside{
    width:20%;
    float:right;
    background-color:beige;
    padding:2em;

}

footer{
    clear:both;
    border-top:2px solid maroon;

}
footer p.copyright{
    text-align:center;
    font-size:80%;
}

p.fixed{ /* stops at step 11, continue from there, add line below name and pic */
    /* add proper spacing to references section*/
    /* Contact me should be fixed to right (use pic as reference for these) */
    width:auto;
    text-align: right;
    float:right;
    top: 20%; 
    padding: 1em 1em;
    border: 3px blue;
    border-style: solid;
    background-color: lightgreen;

    position: fixed;
    right: 3em;
    top: 3em;
    /* 
    width:auto;
    text-align: right;
    float:right;
    padding: 1em 0;
    border: 3px green;
    border-style: solid;*/
}