html{
    background-image: linear-gradient(to left, white 0%, #facd8a 100%);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; 
    width: 90%;
    background-color: whitesmoke;
    margin:15px auto;
    padding:15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/sam_houston_state_bearkats_2020-pres.webp");
    background-position: right;
    background-repeat: repeat-y; /*default x and y until page is filled*/
    background-attachment: fixed; /*default is scroll */
}

a:focus,a:hover{
    font-style: italic;
    color: orange;
    border: 3px blue;
    border-style: dotted solid;
}

h1{
    font-size:175%;
    color:aqua;
    text-indent: 30px;
}

h2{
    font-size:175%;
    color: #600000;
    text-indent: 30px;
}

img{ 
    float:left;
    margin-left: 2em;
}

.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0);
}